body {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    /* overflow: hidden; */
    padding-top: 20px;
    font-family: 'Nunito', sans-serif !important;
    color: rgb(226, 226, 226);
}

main {
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #343a40;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.groupContent {
    width: 100%;
    /* border-bottom: black solid; */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 0px 30px;
}

.groupContent h3 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
}

.halfContentDown {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.halfContentUp {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    border-Bottom-left-radius: 20px;
    border-Bottom-right-radius: 20px;
    margin-bottom: 30px;
}

.page p {
    padding: 20px 10px;
    text-align: left;
    line-height: 20px;
}

.page h4:nth-child(2) {
    margin-bottom: 40px;
}

.page h1 {
    margin-top: 50px;
    text-align: center;
}

.page h2,
.page h4 {
    margin-top: 10px;
    text-align: center;
}

.page h2::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    background: #fff;
    transition: width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 50px;
}

/* .page h2:hover:after {
        width: 50px;
    } */

span {
    font-weight: bold;
    color: #6c63ff;
}

nav {
    z-index: 10;
}

.sidenav {
    display: none;
}

.bg-dark {
    background-color: rgb(10, 10, 10) !important;
}

.navbar-toggler {
    background-color: #343a40 !important;
}

.carousel {
    background-color: rgba(255, 255, 255, 0.13);
    height: 300px !important;
}

.carousel .carousel-item img {
    -webkit-box-shadow: 0px 10px 35px 1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 10px 35px 1px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 10px 35px 1px rgba(0, 0, 0, 0.79);
}

/* 592px */
/* @media (min-width: 37em) {
    ...
} */

/* 656px */
/* @media (min-width: 41em) {
    ...
} */

/* 752px */
@media (min-width: 47em) {
    .sidenav {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
        padding: 25px 60px 10px 60px !important;
        /* background-color: rgb(10, 10, 10); */
        max-height: 630px;
        text-align: center;
    }

    .sideDesc {
        position: fixed;
        padding-left: 45px;
        padding-right: 45px;
    }

    .sideDesc h3 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .list-inline-item:not(:last-child) {
        /*Margem dos ícones exceto o último da lista*/
        margin-right: .5rem !important;
    }

    .list-inline {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .groupContent {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.13);
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .halfContentDown {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.13);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .halfContentUp {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.13);
        border-Bottom-left-radius: 20px;
        border-Bottom-right-radius: 20px;
        margin-bottom: 30px;
    }

    .page p {
        padding: 20px 10px;
    }

    .page h1 {
        margin-top: 85px;
    }

    .page h2 {
        margin-top: 30px;
    }

    .page h4:nth-child(2) {
        margin-bottom: 70px;
    }

    .btn-purple {
        background-color: #6c63ff;
        font-weight: bold;
        transition: ease-in-out 0.26s;
    }

    .btn-purple:hover {
        background-color: #4e48c4;
        color: rgb(226, 226, 226);
        transition: ease-in-out 0.26s;
    }

    nav {
        padding-left: 60px !important;
    }

    main {
        padding: 20px 50px 0 0;
    }

    .page {
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }

    /*ITEMS DO BOOTSTRAP MATERIALIZE*/
    .carousel .carousel-item {
        width: 300px !important;
        margin-top: -50px !important;
    }

    .carousel {
        margin-top: 0px !important;
        background-color: rgba(255, 255, 255, 0.13);
        height: 400px !important;
    }

    ion-icon {
        transition: ease-in-out 0.26s;
        color: rgb(226, 226, 226);
    }

    ion-icon:hover {
        transition: ease-in-out 0.26s;
    }

    ion-icon[name='logo-linkedin']:hover {
        color: #0077b5;
        cursor: pointer;
    }

    ion-icon[name='mail-outline']:hover {
        color: #0c88ef;
        cursor: pointer;
    }

    ion-icon[name='logo-dribbble']:hover {
        color: #ea4c89;
        cursor: pointer;
    }

    ion-icon[name='logo-github']:hover {
        color: #ffffff;
        cursor: pointer;
    }
}

/* 1088px */
/* @media (min-width: 68em) {
    ...
} */

/* 1312px */
/* @media (min-width: 82em) {
    ...
} */

/* 1600px */
/* @media (min-width: 100em) {
    ...
} */



/*TIME LINE*/
/*Referencia: https://www.bootdey.com/snippets/view/timeline-events*/

.timeline {
    /* border-left: 3px solid #727cf5; */
    border-left: 3px solid #6c63ff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.09);
    margin: 35px auto 50px auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
    transition: linear 0.26s;
}

.hide {
    display: none;
}

.timelineTitle {
    cursor: pointer;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #6c63ff;
    box-shadow: 0 0 0 3px #6c63ff;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #6c63ff;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}